*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color:black ;
}
.logo{
    width: 250px;
    margin-bottom: 0;
}
nav{
    display: flex;
    width: 85%;
    margin: auto;
    padding: 30px 0;
    align-items: center;
    justify-content:space-between ;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 25px;

}
nav ul li a{
    background: #fcd10f;
    padding: 10px 30px;
   text-align: right;
   font-weight: bolder;
   border-radius: 20px;

}
nav ul li a:hover{
     color: palevioletred;
}    
.row{
    padding: 0 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    margin top: 5%;
}
.right{
    flex-basis: 40%;

}
.hii{
    flex-basis: 80%; 
    font-size: 31px;
    margin-bottom: 20px;
    background-color: #fcd10f;
    border-radius: 10%;
    font-weight: bolder;

}
.right img{
    width: 70%;
    cursor: pointer;
    transition: transform 0.5s;
    border-radius: 10%;
}
.right img:hover{

    transform: translateY(-8px); 
} 




